<h1>Administration interface</h1>

<ul>
  <li><%= link_to "Show/edit users", users_path %></li>
  <li><%= link_to "Show all talks", talks_path %></li>
  <li><%= link_to "Show/edit buildings", buildings_index_path %></li>
</ul>