<h1>Registration accepted</h1>

<p>
Your registration for <%= @talk.extended_title %> has been cancelled.

<p>
Here is the registration information we recorded:

<div>Name: <%= @reg.name %></div>
<div>Email: <%= @reg.email %></div>
<div>Organization: <%= @reg.organization %></div>
