<% if can? :edit_user, current_user %>
  <%= link_to "Edit profile", edit_user_registration_path %>
<% end %>

<h2>Your lists</h2>

<ul>
  <% @lists.each do |l,k| %>
    <li>
      <%= link_to l.name, l %>
      <% case k %>
      <% when :kind_owned %>
        (owned)
      <% when :kind_posted %>
        (poster)
      <% when :kind_watch %>
        (watch)
      <% when :kind_full %>
        <!-- subscribed, at usual -->
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Your Upcoming Talks</h2>

<div class="short-talks">
  <%= render :partial => "lists/talks", :locals => { :talks => @talks.map {|t,k| t} } %>
</div>

