<% if can? :edit_user, current_user %>
  <%= link_to "Edit profile", edit_user_registration_path %>
<% end %>

<h2>Lists you own or can post to</h2>

<h2>Upcoming talks you posted</h2>

<h2>Subscribed lists</h2>

<h2>Subscribed talks</h2>