<% if false %>

parameters:

   talk

<% end %>

<div class="venue">
  <% if not (talk.room || talk.building) %>
    <i>No venue yet</i>
  <% elsif talk.building && talk.building.url && (not talk.building.url.empty?) %>
    <%= link_to talk.full_venue, talk.building.url %>
  <% else %>
    <%= talk.full_venue %>
  <% end %>
</div>
