<% if false %>

 parameters:

    talk

<% end %>

<div class="speaker">
  <% if (not talk.speaker.empty?) && (not talk.speaker_url.empty?) %>
      <%= link_to talk.speaker, talk.speaker_url %>
  <% elsif (not talk.speaker.empty?) %>
      <%= talk.speaker %>
  <% else %>
    <i>No speaker yet</i>
  <% end %>
</div>