<% if false %>

parameters:

   talk

<% end %>

<div class="venue">
  <% if not (talk.room || talk.building) %>
    <i>No venue yet</i>
  <% else %>
    <%
        loc = talk.room
        if talk.building
         if talk.building.name != ""
           loc << " #{talk.building.name} (#{talk.building.abbrv})"
         else
	   loc << " #{talk.building.abbrv}"
	 end
       end
     %>
     <% if talk.building.url && (talk.building.url != "" ) %>
       <%= link_to loc, talk.building.url %>
     <% else %>
       <%= loc %>
     <% end %>
  <% end %>
</div>
