<% if false %>

parameters:

   talk

<% end %>

<div class="venue">
  <% if not (talk.room || talk.building) %>
    <i>No venue yet</i>
  <% else %>
    <%= talk.room %>
    <% if talk.building %>
      <% if talk.building.name != "" %>
        <%= talk.building.name %> (<%= talk.building.abbrv %>)
      <% else %>
        <%= talk.building.abbrv %>
      <% end %>
    <% end %>
  <% end %>
</div>
