<% if false %>

parameters:

   talk

<% end %>

<div class="venue">
  <% if not (talk.room || talk.building) %>
    <i>No venue yet</i>
  <% else %>
    <%
        loc = talk.room
        if talk.building && (not talk.building.name.empty?)
           loc << " #{talk.building.name} (#{talk.building.abbrv})"
        elsif talk.building
	   loc << " #{talk.building.abbrv}"
	end
     %>
     <% if talk.building && talk.building.url && (not talk.building.url.empty?) %>
       <%= link_to loc, talk.building.url %>
     <% else %>
       <%= loc %>
     <% end %>
  <% end %>
</div>
