<h1>Help</h1>

<p>
This web site helps make it easy to disseminate information about
talks. There are two basic entities the site tracks:
<i>talks</i> and <i>lists</i>. Talks include basic information about a
presentation, including the speaker, date/time, venue, abstract, etc,
and each talk may be cross-posted to one or more lists. Lists contain
a set of talks, and typically correspond to a particular seminar
series or other theme.

<p>
Information about lists and talks is open to anyone, but to take full
advantage of the site, you'll need to create an account. Once you do
so, you can <i>subscribe</i> to lists or individual talks, and then
receive your cumulative subscription in one or more ways, including as
email reminders at a rate you select; an ical feed; and an rss feed.

<p>
The goal of this site is to make it easy to post a talk so the right
set of people will see it, to eliminate duplicate talk announcements,
and to cut down on spam reminders about talks.

<h2>Your Account</h2>

<h2>Posting a talk</h2>

<p>
<b>Important:</b>
Basic information about all lists and talks is <b>public</b>; thus,
please do not put any information on this site you don't want the
world to know about.

<h1>Other Information</h1>

<h2>Author</h2>

<p>
Web site by <a href="http://www.cs.umd.edu/~jfoster">Jeff Foster</a>.

<p>
Source code available at <a href="https://github.com/jeffrey-s-foster/talks">https://github.com/jeffrey-s-foster/talks</a>

<h2>Acknowledgments</h2>

<p>
Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.

<p>
Web site design inspired by <a href="http://talks.cam.ac.uk/">talks.cam</a>
