/*
.actions {
    display: block;
    float: right;
//    border: 1px solid gray;
//    @include box-shadow(3px 3px 3px 0 #888888);
    padding: 4px;
    margin-bottom: 10px;
    .action-table {
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 7px;
    }
    .subscribe-table {
	display: inline-block;
//	border: 1px solid gray;
	padding-top: 7px;
	padding-bottom: 7px;
    }
    .action {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	a {
	    border: 1px solid black;
	    @include border-radius(3px);
	    @include linear-gradient(top, $complementary_color_2, darken($complementary_color_2, 35%));
	    text-decoration: none;
	    color: white;
	    padding: 2px;
	    padding-left: 4px;
	    padding-right: 4px;
	}
    }
}
*/

/*
.actions {
    display: block;
    float: right;
//    border: 1px solid gray;
//    @include box-shadow(3px 3px 3px 0 #888888);
    padding: 4px;
    margin-bottom: 10px;
    .subscribe-table {
	display: inline-block;
	background-color: lightgray;
//	border: 1px solid gray;
	padding-top: 7px;
	padding-bottom: 7px;
	.action {
	    display: block;
	    padding-left: 3px;
	    padding-right: 3px;
	}
    }
    .action-table {
	display: inline-block;
	.action {
	    display: block;
	    padding-left: 3px;
	    padding-right: 3px;
	}
    }
*/

/*
.actions {
    display: block;
    float: right;
    border: 1px solid gray;
    @include box-shadow(3px 3px 3px 0 #888888);
    padding: 4px;
    margin-bottom: 10px;
    .subscribe-table {
	display: inline-block;
    }	 
    .action {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	a {
	    border: 1px solid black;
	    @include border-radius(3px);
	    @include linear-gradient(top, $complementary_color_2, darken($complementary_color_2, 35%));
	    text-decoration: none;
	    color: white;
	    font-size: smaller;
	    padding: 2px;
	    padding-left: 4px;
	    padding-right: 4px;
	}
    }
}
*/
