div.left-sidebar {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 15em;
    font-size: small;
    ul { list-style-type: none; margin-left: 10px; padding-left: 0; margin-bottom: 2em;}
    li { text-indent: -10px; }
    a {
	color: gray;
    }
    .selected {
	color: black;
	font-weight: bold;
    }
    padding: 1em;
    .title {
	font-size: larger;
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
    }
}
div.right-scroll-pane {
    position: absolute;
    left: 15em;
    top: 84px;
    right: 0;
    bottom: 0;
    overflow: auto;
}
div.center-pane {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
div.center-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
    .title {
	font-size: x-large;
	font-weight: bold;
    }
    a {
	color: gray;
	font-style: italic;
	font-size: small;
    }
}
