/* Global style definitions */

/* Color scheme */
$primary_color: #fd2c2c;
$secondary_color_a: #fd942c;
$secondary_color_b: #1f859d;
$complementary_color: #23ca23;

$primary_color_2: #fe5f5f;
$secondary_color_a_2: #feae5f;
$secondary_color_b_2: #50b5cc;
$complementary_color_2: #55e455;

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4 {
    color: $complementary_color;
}

.error, #error_explanation {
    color: red;
}

.errorExplanation, #error_explanation {
    div, h2 { background-color: red; color: white; font-weight: bold; font-size: large; padding: 3px; margin: 0px;}
    border: 1px solid red;
    margin-bottom: 10px;
}
.comment {
    font-size: x-small;
    font-style: italic;
}

p.notice {
    color: blue;
}
p.alert {
    color: red;
}

div.site-title {
    font-size: xx-large;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    @include linear-gradient(45deg, $primary_color, darken($primary_color, 25%));
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      text-decoration: none;
      color: black;
    }
}

div.login-bar {
    font-size: tiny;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $secondary_color_a;
    color: black;
    div.left { float: left; padding-left: 10px; text-align: left; width: 50%; };
    div.right { margin-left: 50%; text-align: right; width: 50%; };
    a {
      text-decoration: none;
      color: black;
    }
}

th.align-top {
    vertical-align: top;
    padding-top: 5px;
}

@mixin badge {
    @include inline-block;
    background-image: url(icons.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
}
.subscribed {
    @include badge;
    background-position: 0px 0px;
}
.watched {
    @include badge;
    background-position: -32px 0px;
}

input[type=submit] {
    @include button(shiny, $complementary_color_2);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
