/* Global style definitions */

/* Color scheme */
$primary_color: #fd2c2c;
$secondary_color_a: #fd942c;
$secondary_color_b: #1f859d;
$complementary_color: #23ca23;

$primary_color_2: #fe5f5f;
$secondary_color_a_2: #feae5f;
$secondary_color_b_2: #50b5cc;
$complementary_color_2: #55e455;

$background_very_light: #f9f7f4;
$background_light: #fcefe3;

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4 {
    color: black;
  /*  background-color: $secondary_color_b_2; */
/*    padding: 3px; */
}

.main {
    margin-left: 20px;
    margin-right: 20px;
}

.error, #error_explanation {
    color: red;
}

.errorExplanation, #error_explanation {
    div, h2 { background-color: red; color: white; font-weight: bold; font-size: large; padding: 3px; margin: 0px;}
    border: 1px solid red;
    margin-bottom: 10px;
}
.comment {
    font-size: x-small;
    font-style: italic;
}

div.flash {
    .notice {
	color: blue;
    }
    .alert {
	color: red;
    }
}

div.site-title {
/*    font-size: 36px;
    font-family: "Gill Sans", sans-serif;
    font-family: "corbel";
    font-family: rockwell;
    font-weight: bold; */
    background-image: linear-gradient(45deg, $primary_color, darken($primary_color, 25%));
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    div.account {
	float: right;
	color: white;
	font-size: small;
	a {
	    color: white;
	}
    }
}

th.align-top {
    vertical-align: top;
    padding-top: 5px;
}

input[type=submit] {
/*   @include button(shiny, $secondary_color_b);*/
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
