/* Global style definitions */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
}

table {
  border-collapse: collapse;
}

span.error {
  color: red;
}
span.comment {
  font-size: x-small;
  font-style: italic;
}
