/* Global style definitions */

/* Color scheme */
$primary_color: #fd2c2c;
$secondary_color_a: #fd942c;
$secondary_color_b: #1f859d;
$complementary_color: #23ca23;

$primary_color_2: #fe5f5f;
$secondary_color_a_2: #feae5f;
$secondary_color_b_2: #50b5cc;
$complementary_color_2: #55e455;

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4 {
    color: $complementary_color;
}

.error, #error_explanation {
    color: red;
}

.errorExplanation, #error_explanation {
    div, h2 { background-color: red; color: white; font-weight: bold; font-size: large; padding: 3px; margin: 0px;}
    border: 1px solid red;
    margin-bottom: 10px;
}
span.comment {
    font-size: x-small;
    font-style: italic;
}

p.notice {
    color: blue;
}
p.alert {
    color: red;
}

div.site-title {
    font-size: xx-large;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    background-color: $primary_color;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      text-decoration: none;
      color: black;
    }
}

div.login-bar {
    font-size: tiny;
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $secondary_color_a;
    color: black;
    a {
      text-decoration: none;
      color: black;
    }
}
