// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

table.edit-list {
  th {
    color: $secondary_color_b;
    text-align: right;
    padding-right: 10px;
  };
  input[type=text] {
      width: 600px;
  };
}

.list {
    .name {
	font-size: x-large;
	color: $secondary_color_b;
    }
    .short_descr {
	font-size: large;
   }
    .long_descr {
	font-family: $georgia;
    }
}
.organizers {
    font-size: smaller;
    margin-left: 1em;
}

.header {
    color: $complementary_color_2;
    font-size: x-large;
}

.organizers {
    font-style: italic;
}

/* for _expanding_list.html.erb */
div._proto {
    display: none;
};
.button_remove, .button_add {
    color: gray;
    font-size: x-small;
}
.button_remove:hover, .button_add:hover {
    cursor: pointer;
}
