// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

table.edit-list {
  th {
    color: $secondary_color_b;
    text-align: right;
    padding-right: 10px;
  };
  input[type=text] {
      width: 600px;
  };
}

.name {
    font-size: x-large;
    color: $primary_color_2;
}
.short_descr {
    font-size: large;
}
.long_descr { }

.header {
    color: $complementary_color_2;
    font-size: x-large;
}

.organizers {
    font-style: italic;
}
