// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

table.edit-talk {
  th {
    color: $secondary_color_b;
    text-align: right;
    padding-right: 10px;
  };
  tr.abstract th {
     vertical-align: top;
     padding-top: 5px;
  }
  tr.space-above {
    border-top: 1.5em solid white;
  };
  input[type=text] {
    width: 600px;
  };
  #temp_date {
    width: 100px;
  }
  #temp_start_time, #temp_end_time {
    width: 100px;
  }
  td.button {
    text-align: right;
  }
}

.show-talk {
  .title {
     font-size: x-large;
     color: $primary_color_2;
  }
  .speaker {
     font-size: large;
  }
}
