// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

.past-talks, .this-weeks-talks, .next-weeks-talks, .further-ahead-talks {
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
}
.next-weeks-talks, .further-ahead-talks {
    border-top: 2px dashed lightgray;
}
.past-talks, .next-weeks-talks {
    background-color: $background_very_light;
}
.further-ahead-talks {
    background-color: $background_light;
}

table.edit-talk {
  th {
    color: $secondary_color_b;
    text-align: right;
    padding-right: 10px;
  };
  tr.space-above {
    border-top: 1.5em solid white;
  };
  input[type=text] {
    width: 600px;
  };
  input#talk_room {
    width: 100px;
  }
  #temp_date {
    width: 100px;
  }
  #temp_start_time, #temp_end_time {
    width: 100px;
  }
}

.properties {
    list-style-type: none;
    padding: 0px;
    padding-top: 1em;
    margin: 0px;
    font-size: smaller;
    color: gray;
    .register, .unregister {
	padding-top: 1em;
	color: black;
	.alert { font-weight: bold; color: blue; }
    }
}

div.center-header div.talk {
  .title {
     font-size: x-large;
     color: $primary_color_2;
  }
  .speaker, .speaker a {
     font-size: large;
     color: black;
     font-style: normal;
  }
  .venue, .venue a {
     color: black;
     font-style: normal;
  }
  .time {
     padding-bottom: 10px;
     color: black;
  }
  .abstract {
      padding-top: 1em;
      .title { font-weight: bold; color: black; font-size: large; background-color: white;};
      .abstract-body { font-family: $georgia; };
  }
  .bio {
      padding-top: 1em;
      .title { font-weight: bold; color: black; font-size: large;};
      .bio-body { font-family: $georgia; };
  }
  .comment {
      padding-top: 10px;
  }
  .registration {
      .alert { font-weight: bold; color: blue; }
  }
}

table.talks-table {
  td { border: 1px solid black; padding: 3px; }
}

.short-talks {
    .lists  a {
    	font-size: small;
	font-style: italic;
	color: $secondary_color_b;
    }
    .title a {
	font-size: large;
	color: $primary_color_2;
    }
    .header {
	padding-top: 10px;
	margin-top: -0.5em;
	margin-left: 0px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	font-size: medium;
	color: gray;
    }
    .speaker, .speaker a {
	color: black;
    }
    .venue, .venue a {
	color: black;
    }
    .time {
	padding-bottom: 15px;
    }
    .day {
	font-size: large;
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
    }
    .big-time {
	float: left;
	height: 100%;
	.start-time {
	    text-align: left;
	    font-weight: bold;
	}
	.end-time {
	    font-size: smaller;
	    text-align: right;
	}
	.cal {
	    text-align: right;
	}
    }
    .body {
	padding-left: 5.5em;
	padding-bottom: 1em;
    }
}

