// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

table.edit-talk {
  th {
    color: $secondary_color_b;
    text-align: right;
    padding-right: 10px;
  };
  tr.space-above {
    border-top: 1.5em solid white;
  };
  input[type=text] {
    width: 600px;
  };
  input#talk_room {
    width: 100px;
  }
  #temp_date {
    width: 100px;
  }
  #temp_start_time, #temp_end_time {
    width: 100px;
  }
}

.show-talk {
    padding-left: 50px;	
    padding-right: 50px;
  .title {
     font-size: x-large;
     color: $primary_color_2;
  }
  .speaker {
     font-size: large;
  }
  .time {
      padding-bottom: 10px;
  }
  .abstract {
      .title { font-weight: bold; color: black; font-size: large;};
      .abstract-body { font-family: $georgia; };
  }
  .comment {
      padding-top: 10px;
  }
}

table.talks-table {
  td { border: 1px solid black; padding: 3px; }
}

.short-talks {
    padding-left: 50px;
    padding-right: 50px;
    .title a {
	font-size: large;
	color: $primary_color_2;
    }
    .speaker {
	color: $secondary_color_b_2;
    }
    .time_loc {
	padding-bottom: 20px;
    }
}

.venue {
    a {
	text-decoration: none;
    }
}
