<p>Welcome <%= @resource.email %>!</p>

<p>Please confirm your account by clicking on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>If the above link does not work, copy and paste the following URL into your browser:

<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
